
.home-container{
    margin: 0 auto;
    margin-top: 4em;
    background-color: #ffffff;
    max-width: 77.500em
}

/*target all Typography comp with h5*/
/* .MuiTypography-h2 {
    color: #254652;
    text-transform: uppercase;
    
} */